table {
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #ddd;
}

table td {
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}

.block-form {
    margin-top: 40px;
}

.label_birth_date {
    font-size: 16px;
}

.date_birth {
    height: 20px;
    width: 150px;
    outline: none;
    border: 1px solid #B0B0B0;
}

.btn_birth {
    height: 25px;
    margin-left: 10px;
}

.count_user {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}